.todolist{
    background-color: ivory;
    width: 800px;
    height: 600px;
}
.todoinput{
    display:flex;
    width: 600px;
    height: 50px;
    margin:auto;
}
.todolistone{
    margin:auto;
    width: 600px;
    height: 50px;
}
.card-body{
    width: 400px;
}
.donelistone{
    display: flex;
    margin: 5px auto 5px auto;
    width: 600px;
    height: 50px;
}
.donelistone.card-body{
    width: 500px;

}
#done{
    text-decoration: line-through;
}
.inputbox{
    width: 530px;
}
.newtodo{
    margin:auto;
    border:1px gray;
    border-radius: 5px;
    display: flex;
    width: 600px;
    height: 50px;
}
.newtodo:hover{
    border: 1px solid black;
}
.newbtn{
    width: 30px;
    height: 30px;
    margin: auto 20px auto 20px;
    display: flex;

}
.newp{
    font-size: 28px;
}
.todolistone{
    display: flex;
    margin: 5px auto 5px auto;
}
.todolistone > button{
    margin-left: 10px;
}
.done{
    width: 530px;
    text-decoration: line-through
}
.date{
    text-align: center;
}
.form-check-input{
    width:5em;
    height:5em;
}
.mypost {
    /*z-index: 100;*/

    width: 95%;
    max-width: 500px;
    margin: 20px auto 20px auto;

    box-shadow: 0px 0px 3px 0px black;
    padding: 20px;
}

.mypost > #tagbox{
    margin-top: 10px;
}

.mypost > button {
    margin-top: 15px;
}